.container{
    width: 75%vw;
    height: auto;
    overflow: hidden;
    margin-top: 15%;

    .slider{
        display: flex;
        animation: scroll 25s linear infinite;
        -webkit-animation: scroll 25s linear infinite; //For some web browser
        width: calc(150px * 14);

        .card{
            width: 200px;
            border-radius: 2px;
            border-color: black;
            border-style: dotted;
            display: flex;
            img{
                width: 100%;
                margin: auto;
            }
        }
    }
}

@keyframes scroll {
    0%{
        -webkit-transfrom: translateX(0); //For some browsers
        transform: translateX(0);
    }
    100%{
        -webkit-transfrom: translateX(calc(-150px * 7)); //For some browsers
        transform: translateX(calc(-150px * 7));
    }
}