.container {
    margin: 10rem 0 0 10rem;
    width: 15rem;
    height: (auto)+5px;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 1);
    color: #0A1931;
    position: relative;
    cursor: pointer;

    h1 {
        margin: 30% 0 3rem 10%;
    }
}

.content {
    position: absolute;
    opacity: 0;
    top: 2.1rem;
}

.displayParagraph {
    opacity: 1;
    background-color: rgba(239, 239, 239, 1);
    transition: background-color 0.7s ease-in,opacity 1s ease-in;
}

.hideParagraph{
    opacity: 0;
    background-color: transparent;
    transition: background-color 0.7s ease-in,opacity 0.4s ease-in;
}