html{width: 100%; height: 100%; margin: 0; padding: 0;}
body{
    width: 100%; height: 100%; margin: 0; padding: 0;
    background-color: #93B1A6;
    font-family: "Cambria Math";
}
app-root{
    width: 100%; height: 100%; margin: 0; padding: 0;
    display: inline-flex;
}